.btn {
  font-family: "Varela Round", sans-serif; }
  .btn-warning {
    background-color: #c69963;
    border: none;
    text-transform: uppercase;
    color: #fff; }
    .btn-warning:hover {
      background-color: #B28451;
      color: #fff; }
    .btn-warning:active {
      background-color: #B28451; }

.js-show {
  opacity: 1; }

.mb-6 {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-7 {
  margin-bottom: 8rem; }

/*
0 - 576px:      Phone
576 - 768px:    Tablet portrait
768 - 992px:    Tablet landscape
992 - 1200px :  Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + > page layout > components

1rem = 16px
*/
.main-header {
  font-family: "Varela Round", sans-serif;
  color: #fff;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), black), url("https://images.pexels.com/photos/1381679/pexels-photo-1381679.jpeg?cs=srgb&dl=close-up-photo-of-purple-lilac-flowers-1381679.jpg&fm=jpg");
  background-position: bottom;
  background-size: cover;
  padding: 1rem 2rem 4rem; }
  @media only screen and (max-width: 30.8125rem) {
    .main-header {
      text-align: center; } }
  .main-header nav {
    margin-bottom: 1rem;
    font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 30.8125rem) {
    .main-header h1 {
      font-size: 3rem; } }
  .main-header p {
    font-size: 1.8rem; }
  .main-header button {
    text-transform: uppercase;
    padding: .7rem 1.5rem; }
  @media only screen and (max-width: 30.8125rem) {
    .main-header .btn-warning {
      margin-bottom: 1rem; } }
  .main-header .btn-outline-secondary {
    color: #fff;
    border: 1px solid #fff;
    margin-left: 1rem; }
    .main-header .btn-outline-secondary:hover {
      background-color: #fff;
      color: black; }

#about-section .section-a {
  margin: auto; }

#about-section h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 4rem; }

#about-section .about-img {
  width: 80%; }
  @media only screen and (max-width: 62rem) {
    #about-section .about-img {
      margin-bottom: 2rem; } }

#about-section .lead {
  margin-bottom: 0; }

#about-section .quote {
  background: #167586;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #167586, #1B4D54);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #167586, #1B4D54);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  background-color: #1B4D54;
  text-align: center;
  padding: 2rem 4rem;
  padding-top: 3rem; }
  #about-section .quote .lead {
    font-size: 1.3rem; }
  #about-section .quote__name {
    font-family: "Dancing Script", cursive;
    float: right;
    position: relative;
    top: 1.8rem;
    right: .5rem;
    font-size: 1.8rem; }

#about-section .social a {
  color: #4B444C;
  transition: .2s; }
  #about-section .social a:hover {
    color: #c69963; }

#home-icon-section {
  background: #167586;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #167586, #1B4D54);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #167586, #1B4D54);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }
  #home-icon-section .border-line {
    border-bottom: 1px solid white;
    margin: 3rem 26rem; }
  @media only screen and (max-width: 62rem) {
    #home-icon-section {
      padding: 0 5rem; } }
  @media only screen and (max-width: 36rem) {
    #home-icon-section {
      padding: 0; } }
  #home-icon-section .header {
    font-size: 2.4rem; }
  #home-icon-section h2,
  #home-icon-section h3 {
    text-align: center;
    font-family: "Varela Round", sans-serif; }
  #home-icon-section h4 {
    font-size: 1.2rem; }
  #home-icon-section p {
    margin-bottom: 1rem; }
    #home-icon-section p.third {
      margin-bottom: 2.5rem; }
      @media only screen and (max-width: 48rem) {
        #home-icon-section p.third {
          margin-bottom: 1rem; } }
  #home-icon-section button {
    background-color: #c69963;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 48rem) {
      #home-icon-section button {
        margin-bottom: 2rem; } }

#next-step {
  text-align: center;
  color: #333;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Varela Round", sans-serif; }
  #next-step h2 {
    font-size: 2.4rem; }
  #next-step button {
    padding: .8rem 2rem;
    margin-right: 2rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 36rem) {
      #next-step button {
        margin-right: 0; } }
  #next-step .btn-outline-secondary {
    color: #333;
    border: 2px solid #333; }
    #next-step .btn-outline-secondary:hover {
      color: #fff;
      background-color: #333; }
    #next-step .btn-outline-secondary a {
      color: inherit; }

#external-section {
  padding: 0 10rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9rem; }
  @media only screen and (max-width: 62rem) {
    #external-section {
      padding: 0; } }
  #external-section .external-name {
    color: #c69963;
    font-size: 1.5rem;
    margin-bottom: 1.6rem; }
  #external-section button {
    padding: .7rem 1.5rem;
    text-transform: uppercase; }

#contact-section {
  background: #B28451;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #c69963, #B28451);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c69963, #B28451);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), black), url("https://images.pexels.com/photos/943905/pexels-photo-943905.jpeg?cs=srgb&dl=white-petaled-flowers-943905.jpg&fm=jpg");
  background-position: center;
  background-size: cover; }
  #contact-section h1 {
    font-size: 2.6rem; }
  #contact-section .text-grey {
    font-size: 1.6rem;
    margin-bottom: 0; }
  #contact-section .media {
    margin-bottom: 1rem; }
  #contact-section .media-left {
    font-size: 2rem;
    margin-right: 2rem; }
    #contact-section .media-left .fas {
      color: #fff; }
  #contact-section .contact-option_text {
    font-size: 1.2rem; }

#footer-section {
  background: #167586;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #167586, #1B4D54);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #167586, #1B4D54);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }
  #footer-section button {
    padding: 1rem 2rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 36rem) {
      #footer-section button {
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 36rem) {
    #footer-section .footer-links {
      text-align: center; } }
  #footer-section .social {
    text-align: right;
    margin: auto 0;
    font-size: 1.5rem; }
    @media only screen and (max-width: 36rem) {
      #footer-section .social {
        text-align: center; } }
    #footer-section .social a {
      color: #fff;
      transition: .2s; }
      #footer-section .social a:hover {
        color: #c69963; }
  #footer-section p {
    color: silver; }
    @media only screen and (max-width: 36rem) {
      #footer-section p {
        text-align: center; } }
