.main-header {

    @include respond(iphone) {
        text-align: center;
    }

    nav {
        margin-bottom: 1rem;
        font-family: $font-secondary;
    }

    h1 {
        @include respond(iphone) {
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.8rem;
    }

    font-family: $font-primary;
    color: #fff;

    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),
    url("https://images.pexels.com/photos/1381679/pexels-photo-1381679.jpeg?cs=srgb&dl=close-up-photo-of-purple-lilac-flowers-1381679.jpg&fm=jpg");
    background-position: bottom;
    background-size: cover;

    padding: 1rem 2rem 4rem;

    button {
        text-transform: uppercase;
        padding: .7rem 1.5rem;
    }

    .btn-warning {
        @include respond(iphone) {
            margin-bottom: 1rem;
        }
    }


    .btn-outline-secondary {
        color: #fff;
        border: 1px solid #fff;
        margin-left: 1rem;

        &:hover {
            background-color: #fff;
            color: black;
        }
    }

}






#about-section {

    .section-a {
        margin: auto;
    }

    h1 {
        font-family: $font-primary;
        font-size: 4rem;
    }

    .about-img {
        width: 80%;

        @include respond(tab-land) {
            margin-bottom: 2rem;
        }
    }


    .lead {
        margin-bottom: 0;
    }

    ;

    .quote {
        @include background-left;
        background-color: $color-secondary-dark;
        text-align: center;
        padding: 2rem 4rem;
        padding-top: 3rem;

        .lead {
            font-size: 1.3rem;
        }

        &__name {
            font-family: $font-secondary;
            float: right;
            position: relative;
            top: 1.8rem;
            right: .5rem;
            font-size: 1.8rem;
        }
    }

    .social {

        & a {
            color: $color-grey-dark-1;
            transition: .2s;

            &:hover {
                color: $color-primary;
            }
        }
    }

}


#home-icon-section {

    @include background-right;

    .border-line {
        border-bottom: 1px solid white;
        margin: 3rem 26rem;
    }

    @include respond(tab-port) {
        padding: 0;
    }

    .header {
        font-size: 2.4rem;
    }

    h2,
    h3 {
        text-align: center;
        font-family: $font-primary;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        margin-bottom: 1rem;

        &.third {
            margin-bottom: 2.5rem;

            @include respond(tab-port) {
                margin-bottom: 1rem;
            }
        }
    }

    button {
        background-color: $color-primary;
        border: none;
        text-transform: uppercase;
        padding: 1rem 2rem;

        @include respond(tab-port) {
            margin-bottom: 2rem;
        }

    }
}


#next-step {

    text-align: center;
    color: #333;
    //    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/985266/pexels-photo-985266.jpeg?cs=srgb&dl=close-up-photo-of-blue-petaled-flowers-985266.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: $font-primary;

    h2 {
        font-size: 2.4rem;
    }


    button {
        padding: .8rem 2rem;
        margin-right: 2rem;
        text-transform: uppercase;

        @include respond(phone) {
            margin-right: 0;
        }

    }

    .btn-outline-secondary {
        color: #333;
        border: 2px solid #333;

        &:hover {
            color: #fff;
            background-color: #333;
        }

        a {
            color: inherit;

        }
    }


}


#external-section {

    padding: 0 10rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;

    @include respond(tab-land) {
        padding: 0;
    }

    .external-name {
        color: $color-primary;
        font-size: 1.5rem;
        margin-bottom: 1.6rem;
    }

    button {
        padding: .7rem 1.5rem;
        text-transform: uppercase;
    }


}

#contact-section {

    @include background-top;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url("https://images.pexels.com/photos/943905/pexels-photo-943905.jpeg?cs=srgb&dl=white-petaled-flowers-943905.jpg&fm=jpg");
    background-position: center;
    background-size: cover;

    h1 {
        font-size: 2.6rem;
    }

    .text-grey {
        font-size: 1.6rem;
        margin-bottom: 0;
        //color: lightgrey;
    }

    .media {
        margin-bottom: 1rem;
    }

    .media-left {
        font-size: 2rem;
        margin-right: 2rem;

        .fas {
            color: #fff;
        }
    }

    .contact-option_text {
        font-size: 1.2rem;
    }

}



#footer-section {

    @include background-left;

    button {
        padding: 1rem 2rem;
        border-radius: 1rem;

        @include respond(phone) {
            margin-bottom: 2rem;
        }
    }

    .footer-links {

        @include respond(phone) {
            text-align: center;
        }
    }

    .social {

        text-align: right;
        margin: auto 0;
        font-size: 1.5rem;

        @include respond(phone) {
            text-align: center;
        }


        & a {
            color: #fff;
            transition: .2s;

            &:hover {
                color: $color-primary;
            }
        }
    }

    p {
        color: silver;

        @include respond(phone) {
            text-align: center;
        }
    }



}
